{% extends 'base.html' %}
{% block content %}
    <center><h1>{{ articulo.title }}</h1></center>
<body style="background-color:#1d5c00;">
    <center>
    <p>{{ articulo.text }}</p>
    <p></p>
    <p>creado por {{ articulo.Usu_art }} sobre {{ articulo.plant_art }}</p>
<!-- 
    <ul>
      <table class="default" frame="void" rules="cols" bgcolor="white">
          <tr>
              <th>texto</th>
              <th>creado por</th>
              <th>Planta</th>
            </tr>
              <tr>
                  <td>{{ articulo.text }}</td>
                  <td>{{ articulo.Usu_art }}</td>
                  <td>{{ articulo.planta }}</td>
              </tr>
      </table>
      <p></p>
    </ul>-->
    </center>
</body>
{% endblock %}