{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">¡Bienvenido a Photanic!</div>
        <div class="masthead-heading text-uppercase">Encantado de conocerte</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'user-add' %}">¡Regístrame!</a>
    </div>
</header>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">¿Qué es photanic?</h2>
            <h3 class="section-subheading text-muted">Photanic es una aplicación web destinada a los amantes de la botánica, usa una base de datos con más de 1 millón de plantas. Entre sus principales funciones tenemos la creación de artículos sobre cualquier tipo de planta, y la subida de fotos. Esto junto a un sistema de comentarios y valoraciones. Los usuarios están clasificados en diferentes niveles de experiencia en el tema, haciendo accesible la apliacación tanto para novatos como para expertos. </h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">E-Commerce</h4>
                <p class="text-muted">La compra venta de productos en la página queda totalmente prohibida.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Diseño Responsivo</h4>
                <p class="text-muted">La aplicación está diseñada de forma responsiva, lo que permite que sea utilizada ne todo tipo de dispositivos</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Seguridad Web</h4>
                <p class="text-muted">La página cumple con estándares de seguridad</p>
            </div>
        </div>
    </div>
</section>
<!-- About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About</h2>
        </div>
        <ul class="timeline">
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="../static/assets/img/about/4.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Noviembre 2022</h4>
                        <h4 class="subheading">Creación de Photanic</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">En 2022 Photani nace como idea para un proyecto de Implantación de aplicaciones web, desarrollada por un solo alumno.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Seguimos
                        <br />
                        En
                        <br />
                        Desarrollo
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- Clients-->
{% endblock %}  