{% extends 'base.html' %}
{% block content %}
<header class="masthead">
  <div class="masthead-heading text-uppercase">Usuarios</div>
</header>
<center><h1>Lista de usuarios</h1></center>
    <body style="background-color:#1d5c00;">
        <center>
        <ul>
          {% for user in object_list %}
          <li style=" list-style-type: none; margin: 0; padding: 0"> <a href="{{ user.pk }}">{{ user.username }}</a></li>
          {% empty %}
          <li>No hay usuarios todavía.</li>
          {% endfor %}
        </ul>
        </center>
    </body>
{% endblock %}