<style type="text/css">
  
  /* BASIC */
  
  html {
    background-color: #ffffff;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
  }
  
  a {
    color: #0faf00;
    display:inline-block;
    text-decoration: none;
    font-weight: bold;
  }
  
  h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px;
    color: #cccccc;
  }
  
  
  
  /* STRUCTURE */
  
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
  
  /* TABS */
  
  h2.inactive {
    color: #ffffff;
  }
  
  h2.active {
    color: #e60000;
    border-bottom: 2px solid #0d9c00;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #ffffff;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  input[type=text] {
    background-color: #ffffff;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 30%;
    border: 2px solid #000000;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #ffffff;
  }
  
  input[type=text]:placeholder {
    color: #ffffff;
  }
  
  input[type=text], input[type=password] {
    background-color: #ffffff;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 30%;
    border: 2px solid #000000;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
  /* ANIMATIONS */
  
  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color: #0d0d0d;
  }
  
  .underlineHover:hover:after{
    width: 100%;
  }
  
  
  
  /* OTHERS */
  
  *:focus {
      outline: none;
  }
  
  #icon {
    width:60%;
  }
  
  * {
    box-sizing: border-box;
  }
  </style>
 <img src="../../../media/img/photanic_logo.png" alt="LOGO PHOTANIC" class="center-logo">
  {% block content %}
  
  {% if form.errors %}
  <p style="margin-top: 40px;">Tu nombre no coincide con ninguno de la base datos. Introduce otro.</p>
  {% endif %}
  
  {% if next %}
      {% if user.is_authenticated %}
      <p style="margin-top: 60px;">No tienes acceso a la página. Inserta un nombre que pueda acceder.</p>
      {% else %}
      <p>Por favor, inserta tu nombre de usuario.</p>
      {% endif %}
  {% endif %}
  
  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  
  <div style="margin-top: 40px;">
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
  </div>
  <div class="contraseña">
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
  </div>
  
  <div>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
  </form>
  
  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">¿Has olvidado tu contraseña?</a></p>
  
  {% endblock %}