<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login form with JavaScript Validation</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="/static/css/style_login.css">

</head>
<body>
<!-- html -->
<div class="logo text-center">
  <a class="navbar-brand" href="{% url 'index' %}"><img src="/static/assets/img/icono.png" alt="..." /></a>
</div>
{% block content %}
{% if form.errors %}
<p style="margin-top: 40px; text-align: center; color: crimson;">El usuario o la contraseña son incorrectos.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p style="margin-top: 60px;">No tienes acceso a la página. Inserta un nombre que pueda acceder.</p>
    {% else %}
    <p>Por favor, inserta tu nombre de usuario.</p>
    {% endif %}
{% endif %}
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<div class="wrapper">
  <div class="inner-warpper text-center">
    <h2 class="title">Login</h2>
      <div class="input-group">
        <td>{{ form.username }}</td>
      </div>
      <div class="input-group">
        <td>{{ form.password }}</td>
      </div>

      <button type="submit" id="login">Login</button>
      <div class="clearfix supporter">
        <div class="pull-left remember-me">
          <input id="rememberMe" type="checkbox">
          <label for="rememberMe">Remember Me</label>
        </div>
        <a class="forgot pull-right" href="{% url 'password_reset' %}">Forgot Password?</a>
      </div>
    </form>
  </div>
  <div class="signup-wrapper text-center">
    <a href="{% url 'user-add' %}">Don't have an accout? <span class="text-primary">Create One</span></a>
  </div>
</div>
{% endblock %}
<!-- partial -->
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js'></script><script  src="/static/js/script_login.js"></script>

</body>
</html>