<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About Us card || Learning robo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <section>
            <div class = "image">
                <img src="/media/img/photanic_logo.png" alt="LOGO PHOTANIC" class="center-logo">
            </div>

            <div class = "content">
                <a class="navbar-brand" href="{% url 'index' %}"><img src="/static/assets/img/icono.png" alt="..." /></a>
                <h2>About Us</h2>
                <span><!-- line here --></span>
                <p>Photanic es una aplicación web destinada al uso de los amantes de la botánica, usa una base de datos con más de 1 millón de plantas.
                    Entre sus principales funciones tenemos la creación de artículos sobre cualquier tipo de planta, y la subida de fotos. Esto junto a un sistema de comentarios  y valoraciones.
                    Los usuario están clasificados en diferentes niveles de experiencia en el tema, haciendo accesible la apliacación tanto para novatos como para expertos.</p>
                <ul class = "icons">
                    <li>
                        <a href="https://github.com/CarlosMontesino02/photanic"><i class = "fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/CarlosMontesino02/photanic"><i class = "fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/CarlosMontesino02/photanic"><i class = "fa fa-github"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/CarlosMontesino02/photanic"><i class = "fa fa-pinterest"></i></a>
                    </li>
                </ul>
            </div>
        </section><br><br>
    </body>
</html>