{% extends 'base.html' %}
{% block content %}
        <center><h1>Artículos</h1></center>
    <body style="background-color:#a1ff75;">
        <center>
        <ul>
          {% for articulo in object_list %}
          <li style=" list-style-type: none; margin: 0; padding: 0;"> <a style="margin: 10;" href="{{ articulo.pk }}">{{ articulo.title }}</a>
          <a href="{% url 'article-update' articulo.pk %}">Modificar</a>
          <p></p>
          </li>
          {% empty %}
          <li>No hay artículos todavía.</li>
          {% endfor %}
          <p></p>
          <a href="{% url 'article-add' %}">Añade una artículo</a>
        </ul>
        </center>
    </body>
{% endblock %}