{% extends 'base.html' %}
{% block content %}
        <center><h1>Artículos</h1></center>
    <body style="background-color:#a1ff75;">
        <center>
        <ul>
          {% for articulo in object_list %}
          <a href="{{ articulo.pk }}">{{ articulo.title }}</a>
          {% empty %}
          <li>No hay artículos todavía.</li>
          {% endfor %}
          <p></p>
          <a href="{% url 'article-add' %}">Añade una artículo</a>
        </ul>
        </center>
    </body>
{% endblock %}