{% extends "base.html" %}
{% block content %}
<body style="background-color:#1d5c00;">
    <center>
    <header class="masthead">
        <div class="masthead-heading text-uppercase">"{{ articulo.title }}" por {{ articulo.user}}</div>
    </header>
    <section class="page-section" id="services">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">{{ articulo.title }}</h2>
                <h3 class="section-subheading text-muted">{{ articulo.text }} </h3>
                {% if articulo.img %}
                <p><img src="/media/{{ articulo.img }}" width="400" height="300"></p>
                {% else %}
                <p></p>
                {% endif %}
            </div>
    </section>
    <p></p>
    <p>creado por {{ articulo.user }} sobre {{ articulo.plant_art }}</p>
    {% if request.user.is_authenticated %}
    <a href="{% url 'article-update' articulo.pk %}" class="button">Modificar</a>
    <a href="{% url 'article-delete' articulo.pk %}" class="button">Borrar</a>
    <p><b>Rating:</b></p>
        <p>{{ object.rating }}/5</p>
        <p>
        {% if user.is_authenticated %}
          {% if not already %}
          <a href=" {% url 'rate-add' object.pk  %} "><button type="button"class="button-62">Valorar</button></a>
          {% endif %}
        {% endif %}
    </p>
    {% for valo in object.valoracion_set.all %}
      {% if valo.user == user %}
        <p> 
          <a href=" {% url 'rate-update' valo.id %} "><button type="button" class="button-62">Editar</button></a>
          <a href=" {% url 'rate-delete' valo.id %} "><button type="button" class="button-62">Borrar</button></a>
        </p>
      {% endif %}
    {% endfor %}
</div>
</div>
    {% else %}
    <p></p>
    {% endif %}
    </center>
</body>
{% endblock %}
