{% extends 'base.html' %}
{% block content %}
<header class="masthead">
  <div class="masthead-heading text-uppercase">Artículos</div>
</header>
 <center><h1>Lista de artícluos</h1></center>
 {% if user.is_authenticated %}<center><a href="{% url 'article-add' %}" class="button">Sube un art</a></center>{% endif %}
    <body style="background-color:#1d5c00;">
        <center>
        <ul>
          {% for articulo in object_list %}
          <li style=" list-style-type: none; margin: 0; padding: 0;"> 
            <a style="margin: 10;" href="{{ articulo.pk }}">{{ articulo.title }}</a>
          </li>
          <p></p>
          {% empty %}
          <li>No hay artículos todavía.</li>
          {% endfor %}
          <p></p>
          {% if user.is_authenticated %}
          {% else %}
          <p>Tienes que <a href=" {% url 'user-add' %} "><button type="button"class="button-62">registrarte</button></a> para subir un artículo</p>
          {% endif %}
        </ul>
        </center>
    </body>
{% endblock %}
