{% extends 'base.html' %}
{% block content %}
        <center><h1>Fotos</h1></center>
    <body style="background-color:#a1ff75;">
        <center>
        <ul>
          {% for foto in object_list %}
          <li>
          </a><li style=" list-style-type: none; margin: 0; padding: 0"> <a href="{{ foto.id }}"><img src="/media/{{ foto.img }}" width="400" height="300"></a></li>
          </li>
          
          {% empty %}
          <li>No hay fotos todavía.</li>
          {% endfor %}
        </ul>
        <a href="{% url 'foto-add' %}">Sube una foto</a>
        </center>
    </body>
{% endblock %}