{% extends 'base.html' %}
{% block content %}
<header class="masthead">
  <div class="masthead-heading text-uppercase">Fotos</div>
</header>
 <center><h1>Lista de fotos</h1></center>
 {% if user.is_authenticated %}<center><a href="{% url 'foto-add' %}" class="button">Sube una foto</a></center>{% endif %}
    <body style="background-color:#1d5c00;">
        <center>
          {% for foto in object_list %}
          <li>
          </a><li style=" list-style-type: none; margin: 0; padding: 0"> 
            <a href="{{ foto.id }}"><img src="/media/{{ foto.img }}" width="400" height="300"></a>
          </li><p></p>
          {% empty %}
          <li>No hay fotos todavía.</li>
          {% endfor %}
          {% if user.is_authenticated %}
          {% else %}
          <p></p>
          <p>Tienes que  <a href=" {% url 'user-add' %} "><button type="button"class="button-62">registrarte</button></a>  para subir una foto</p>
          {% endif %}
        </center>
    </body>
{% endblock %}