{% extends 'base.html' %}
{% block content %}
<body>
    <p>Hola {{ user.username }}</p>
    <h1>PHOTANIC</h1>
    <p style="background-color: #e5ffd5;">Photanic es una aplicación web destinada a los amantes de la botánica, usa una base de datos con más de 1 millón de plantas.
       Entre sus principales funciones tenemos la creación de artículos sobre cualquier tipo de planta, y la subida de fotos. Esto junto a un sistema de comentarios  y valoraciones.
       Los usuarios están clasificados en diferentes niveles de experiencia en el tema, haciendo accesible la apliacación tanto para novatos como para expertos.
    </p>
</body>
{% endblock %}  