{% extends 'base.html' %}
{% block content %}
        <center><h1>Plantas</h1></center>
    <body style="background-color:#a1ff75;">
        <center>
        <ul>
          {% for planta in object_list %}
          <a href="{{ planta.pk }}">{{ planta.common_name }}</a> 
          <a href="{% url 'plant-update' planta.pk %}">Modificar</a>
          {% empty %}
          <li>No hay plantas todavía.</li>
          {% endfor %}
          <p></p>
          <a href="{% url 'plant-add' %}">Añade una planta</a>
        </ul>
        </center>
    </body>
{% endblock %}