{% extends 'base.html' %}
{% block content %}
<body style="background-color:#1d5c00;">
    <center>
      <header class="masthead">
        <div class="masthead-heading text-uppercase">Ficha técnica de {{ planta.common_name }}</div>
      </header>
<body style="background-color:#1d5c00;">
    <center>
  <p>Nombre común: {{ planta.common_name }}</p>
  <p>Reino : {{ planta.kingdom }}</p>
  <p>Phylum : {{ planta.phylum }}</p>
  <p>Clase : {{ planta.clase }}</p>
  <p>Order : {{ planta.order }}</p>
  <p>Familia : {{ planta.family }}</p>
  <p>Genus : {{ planta.genus }}</p>
  <p>Categoría : {{ planta.category }}</p>
 
<a href="{% url 'plant-update' planta.pk %}">Modificar</a></td>
<p></p>
<a href="{% url 'plant-delete' planta.pk %}">Borrar</a></td>

    </center>
</body>
{% endblock %}