
{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        
        <form action="{% url 'search' %}" method="get">
            <input name="q" type="text" placeholder="Search...">
          </form>

        <!-- Portfolio Grid Items-->
        <center>        
            <div class="row justify-content-center">
            <!-- Portfolio Items-->
            {% for planta in object_list %}
            <li style=" list-style-type: none; margin: 0; padding: 0"> <a href="{{ planta.pk }}">{{ planta.common_name }}</a> 
              {% if user.is_staff %}
              <a href="{% url 'plant-update' planta.pk %}">Modificar</a>
              {% else %}
              <p></p>
              {% endif %}
            </li> 
            {% empty %}
            <li>No hay plantas todavía.</li>
            {% endfor %}</center>

        </div>
    </div>
</section>
{% endblock %}