{% extends 'base.html' %}
{% block content %}
<body style="background-color:#1d5c00;">
    <center>
      <header class="masthead">
        <div class="masthead-heading text-uppercase">Perfil de {{ user.username }}</div>
      </header>
    <ul>
      <p>Nombre de usuario: {{ user.username }}</p>
      <p>Email: {{ user.email }}</p>
      <p>País: {{ user.country }}</p>
      <p>Rango : {{ user.rank }}</p>
      <p>Fecha de nacimiento : {{ user.birth_date }} </p>
      {% if request.user.username == user.username %}
      <p>Información incorrecta? <a href="{% url 'usuarios-update' user.pk %}" class="button">Modificar</a></p>
      {% else %}
      <p></p>
      {% endif %}
      <p></p>
      <p>Articulos escritos por este usuario:</p>
      {% for articulo in articulos %}
      <li style="list-style: none">{{ articulo }}</li>
      {% endfor %}
    </ul>
    </center>
</body>
{% endblock %}