<style type="text/css">
   li{
      border: 1px solid rgb(255, 255, 255);
      height: 30px;
      width: 150px;
   }
    a{
      color: rgb(13, 65, 0);
      font-weight: bold;
    }

    #BarraHTML {
    background-color: #ffffff;
        padding: 2px;
        position: fixed;
        width: 100%;
    z-index: 10000;
    }
    #BarraHTML ul{
       list-style-type: none;
    }
    #BarraHTML li{
       display: inline;
       text-align: center;
       margin: 0 0 0 0;
    }
    #BarraHTML li a {
       padding: 2px 7px 7px 7px;
       text-decoration: none;
    }
    #BarraHTML a{  /*color del texto */ 
      color: rgb(28, 139, 0);
      font-weight: bold;
    }
    #BarraHTML li a:hover{
       background-color: #ffffff;
       color: #ffffff;
    }
    #texto{
    padding: 60px 0 0 0;
    color: rgb(0, 236, 0)
    }
   .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(255, 255, 255);
   color: rgb(28, 139, 0);
   text-align: center;
   font-weight: bold;
   }
</style>
    <div id="BarraHTML">
    <ul>
    <li><a href="{% url 'index' %}">Photanic</a></li>
    <li><a href="{% url 'plants' %}">Plantas</a></li>
    <li><a href="{% url 'fotos' %}">Fotos</a></li>
    <li><a href="{% url 'usuarios-lista' %}">Usuarios</a></li>
    <li><a href="{% url 'articles' %}">Artículos</a></li>
    </ul>
    </div>
    <body style="background-color:#c6ff6a;">
    <div>
        {% block content %}
        {% endblock %}
        
      <div class="footer">
       <p>
         <a href="">About Us</a> 
         <a href="">Contact</a>
         <p>mail : carlos.montesino.fernando.alu@iesfernnadoaguilar.es</p>
         <p>Github: <a href="https://github.com/CarlosMontesino02"></a>Github</p>
         <p>Twitter: <a href="https://mobile.twitter.com/montesinocarlos"></a>Twitter</p>
         <p>Número de telefono: 123 45 65 78</p>
      </p>
      </div>